.breadcrumbs {
    // width: 75%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 15px;
    &--wrapper {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: flex-end;
        margin-left: -$gutter;
        .breadcrumbs {
            width: 100% - $sidebar_width;
            padding-left: $gutter;
        }
    }
    li {
        &:not(:last-child) {
            &:after {
                content: '>';
                padding-left: 14px;
            }
        }
        &:last-child {
            padding-left: 14px;
        }
    }
    a {
        &:hover {
            color: $highlight_color;
        }
    }
}
