.cart {
    &--content {
        margin-bottom: 25px;
    }
    &--total {
       font-size: 20px; 
    }
    &--total-value,
    &--total-unit {
        font-weight: bold;
        color: $highlight_color;
    }
    &--total-container {
        justify-content: flex-end;
        margin-bottom: 60px;
    }
    &--controls {
        justify-content: space-between;
    }
    &--reset {
        font-size: 16px;
        &:hover {
            color: $red;
        }
        .cross {
            font-size: 25px;
            position: relative;
            top: 3px;
            line-height: 16px;
        }
    }
}

.cart-item {
    height: 85px;
    margin-bottom: 10px;
    justify-content: space-between;
    border: 1px solid $lightgray;
    align-items: center;
    &--heading,
    &--numbers {
        flex: 1;
    }
    &--heading {
        display: flex;
        align-items: center;
    }
    &--numbers {
        justify-content: flex-end;
        padding: 28px;
        align-items: center;
    }
    &--img {
        flex: 1;
        padding: 1px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 10px;
        img {
            max-width: 100%;
            // width: auto;
        }
        overflow: hidden;
    }
    &--name {
        flex: 4;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
    }
    &--price,
    &--total {
        font-size: 16px;
        text-align: right;
    }
    &--price {
        margin-right: 35px;
    }
    &--total {
        margin-left: 35px;
        font-weight: bold;
        color: $highlight_color;
        min-width: 90px;
    }
}