.catalogue {
    &--intro {
        background-position: 50% 90%;
        .intro--text {
            color: #fff;
        }
    }
    &--items {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-wrap: wrap;
        li {
            padding-left: $gutter;
            margin-bottom: $gutter;
            width: 25%;
        }
    }
}

.categories-list {
    font-size: 16px;
    padding: 45px 40px;
    li {
        margin-bottom: 20px;
    }
    a {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
        &.active {
            font-weight: bold;
            color: $highlight_color;
            text-decoration: none;
            &:hover {
                cursor: default;
            }
        }
    }
}

.category {
    &--description {
        padding: 45px 40px;
        background-color: $cat_descr_color;
    }
    &--heading {
        text-transform: uppercase;
        color: $highlight_color;
        font-size: 20px;
        margin-bottom: 30px;
    }
    &--description-text {
        font-size: 16px;
        margin-bottom: 15px;
    }
}

.catalogue-item {
    border: 1px solid $lightgray;
    margin-top: $gutter;
    &--img {
        height: $item_height;
        padding-left: $gutter;
        width: 33.3%;
        overflow: hidden;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
            max-width: 100%;
        }
    }
    &--img-wrapper {
        // padding: 10px;
        overflow: hidden;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &--details {
        padding: 25px 25px 25px $gutter+15px;

        flex: 1;
    }
    &--heading {
        font-size: 18px;
        margin-bottom: 25px;
        font-weight: bold;
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &--price {
        font-size: 20px;
        color: $highlight_color;
        min-width: 200px;
        text-align: right;
        font-weight: bold;
    }
    &--description {
        font-size: 14px;
        color: $midgray;
        width: 75%;
        margin-bottom: 25px;
    }
    &--chars {
        font-size: 14px;
        td {
            padding-right: 25px;
        }
    }
    &--order {
        flex: 1;
        align-self: flex-end;      
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-left: 40px;
    }
    &--total {
        display: none;
        align-self: flex-end;
        font-size: 18px;
    }
    &--total-value {
        font-weight: bold;
    }
    &--price-unit {
        font-weight: bold;
    }
}

.item {
    &--description {
        .catalogue-item--chars {
            display: none;
        }
        .catalogue-item--total {
            display: block;
        }
    }
    &--chars {
        border-collapse: collapse;
        width: 100%;
        th,
        td {
            font-size: 14px;
            padding: 8px 20px;
            font-weight: normal;
        }
        th {
            text-align: left;
            flex: 2;
        }
        td {
            flex: 7;
        }
        tr {
            display: flex;
            &:nth-child(odd) {
                background-color: $lightgray;
            }
        }
    }
    &--chars-heading {
        font-size: 16px;
        color: $highlight_color;
        padding: 45px 20px 30px; 
    }
}

.order-number {
    width: 50px;  
    font-size: 20px;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    &::-webkit-inner-spin-button, 
    &::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }
    background-color: $lightgray;
    border: 1px solid $darkgray;
    &:focus {
        background-color: #fff;
        outline: none;
    }       
}

@media (max-width: 1200px) {
    .catalogue--items {
        li {
            width: 33%;
        }
    }
    .catalogue-item {
        >.content--row__flex {
            flex-direction: column;
            margin-left: 0;
        }
        &--img {
            width: 100%;
        }
        &--img-wrapper {
            height: 100%;
            img {
                max-height: 100%;
            }
        }
    }
}

@media (max-width: 950px) {
    .catalogue--items {
        li {
            width: 50%;
        }
    }
}
