.contacts {
    margin-bottom: 100px;   
    &--main {
        font-size: 16px;
        padding-right: 30px;
    }
    &--column {
        padding-left: $gutter;
        flex: 1;
        font-size: 14px;
    }

    &--list-item {
        padding-left: 35px;
        padding-right: 100px;
        margin-bottom: 25px;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 19px auto;    
        &.address {
            background-image: url('/img/icons/place.svg');
            // background-size: auto 25px;
        }
        &.phone {
            background-image: url('/img/icons/phone.svg');
            
        }
        &.email {
            background-image: url('/img/icons/envelope.svg');
        }
        &.hours {
            background-image: url('/img/icons/clock.svg');
        }
    }
}

.legal-details {
    padding-right: 30px;
    h3 {
        font-weight: bold;
    }
    &--list-item {
        margin-bottom: 25px;
    }
    th {
        font-weight: normal;
        width: 110px;
    }
}

.map-container {
    margin-bottom: 60px;
}

.map {
    height: 450px;
    margin-bottom: 10px;
    border: 1px solid $lightgray;
}