@font-face {
    font-family: "HelveticaNeue";
    src: url("/fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Roman.otf");
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("/fonts/Helvetica-Neue-Cyr/HelveticaNeueCyr-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "GothamPro";
    src: url("/fonts/GothamPro/GothaProReg.otf");
    font-weight: normal;
}