.footer {
    font-size: 16px;
    background-color: $footer_bg_color;
    color: #fff;
    padding-top: 90px;
    padding-bottom: 120px;
    min-width: 750px;
    .content--row__flex {
        justify-content: space-between;
    }
    .address {
        margin-bottom: 20px;
        font-style: normal;
    }
    a:hover {
        color: lighten($highlight_color, 20%)
    }
}


