html {
    font-size: $base_font_size;
    font-family: $base_font_family;
}

.body {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: $main_text_color;
}

.main {
    flex: 1;
}

.content-wrapper {
    flex: 1;
    .main,
    .sidebar {
        padding-left: $gutter;
    }
    .sidebar {
        width: $sidebar_width;
    }
}

.content {
    flex: 1;
    width: $content_width;
    padding: 0 10px;
    margin: 0 auto;
    &--row {
        &__flex {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
        }
    }
    &--column {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: column;
    }
    &--section {
        padding-left: $gutter;
        margin-bottom: 55px;
        &.column {
            display: flex;
            flex-direction: column;
            // justify-content: flex-end;
        }
    }
    &--container {
        // min-height: 272px;
        padding: 40px;
        font-size: 16px;
    }
}

.columns {
    margin-left: -$gutter;
}

.link-wrapper {
    display: block;
}

.section {
    &--heading {
        font-family: $accent_font_family;
        text-transform: uppercase;
        font-size: 20px;
        margin-top: 55px;
        margin-bottom: 15px;
    }
}

.bq {
    font-size: 22px;
    font-family: $accent_font_family;
    text-transform: uppercase;
    &--first,
    &--second {
        display: block;
        position: relative;
    }
    &--first {
        padding-left: 80px;
    }
    &--second {
        text-align: right;
        padding-right: 80px;
    }
}

.catalogue-item-preview {
    height: $item_height;
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .link-wrapper {
        height: 100%;
        width: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    &--heading {
        height: 78px;
        padding: 25px;
        padding-right: 80px;
        background-color: rgba(0, 0, 0, 0.8);
        color: $cat_item_color;
        font-size: 14px;
        text-transform: uppercase;
    }
    &--wrapper {
        display: inline-block;
    }
    &:hover {
        .catalogue-item-preview--heading {
            background-color: $highlight_color;
        }
    }
}

.promo-item-preview {
    font-size: 16px;
    .link-wrapper {
        height: 100%;
        width: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    &--wrapper {
        display: inline-block;
    }
    &--bg {
        position: relative;
        height: $item_height;
        background-color: #eee;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &--content {
        // max-height: 125px;
        overflow: hidden;
        background-color: #fff;
    }
    &--heading {
        padding: 15px 0 10px;
        text-transform: uppercase;
        color: $highlight_color;
    }
    &--date {
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 10px;
    }
    &:hover {
        .promo-item-preview--heading {
            text-decoration: underline;
        }
    }
}

.slider-wrapper {
    position: relative;
}

.slider-pages {
    position: absolute;
    top: -30px;
    right: 0;
    height: 100px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    .owl-dot {
        height: 13px;
        width: 13px;
        margin-left: 8px;
        background-color: $dot_bg_color;
        &.active {
            background-color: $highlight_color;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.slider-nav {
    .owl-prev,
    .owl-next {
        position: absolute;
        top: $item_height/2;
        height: $slider-nav_height;
        width: $slider-nav_height;
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid black;
        z-index: 1000;
        &:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.9);
        }
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: auto 17px;
    }
    .owl-prev {
        left: 0;
        transform: translateY(-$slider-nav_height/2) translateX(-10px);
        background-image: url('/img/icons/arrow-left.svg');
    }
    .owl-next {
        right: 0;
        transform: translateY(-$slider-nav_height/2) translateX(10px);
        background-image: url('/img/icons/arrow-right.svg');
    }
}

.btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    &.add,
    &.remove {
        height: 35px;
        width: 35px;
        font-size: 24px !important;
        background-color: $darkgray; 
        color: #fff;
        &:hover {
            background-color: lighten($darkgray, 20%)
        }
    }
    &.order,
    &.clear,
    &.submit {
        height: 35px;
        margin-left: 20px;  
        background-color: $red;
        color: #fff;
        font-size: 16px;
        &:hover {
            background-color: darken($red, 10%)
        }
    }
    &.order,
    &.submit {
        padding-left: 30px;
        padding-right: 30px;
    }
    &.clear {
        min-width: 35px;
        font-size: 25px;
        line-height: 35px;
    }
}

.form {  
    &--column {
        padding-left: $gutter;
        flex: 1;
    }
    &--heading {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 40px;
    }
    fieldset {
        border: 1px solid $lightgray;
        padding: 30px;
        
    }
    input[type="radio"] {
        display: none;
        &:checked + .radio-label {
            background-color: #bfbfbf;
            &::before {
                background-color: $red;
            }
        }
    }
    .radio-label {
        display: flex;
        align-items: center;
        padding: 12px;
        font-size: 16px;
        font-weight: bold;
        &::before {
            display: inline-block;
            content: "";
            width: 15px;
            height: 15px;
            margin-right: 15px;
            background-color: $lightgray;
        }
        &:hover {
            cursor: pointer;
            &:before {
                background-color: $red;
            }
        }
    }
    &--field {
        display: block;
        width: 100%;
        padding: 12px;
        margin-top: 25px;
        font-size: 14px;
        background-color: #e1e1e1;
        border: 1px solid $darkgray;
        &:focus {
            outline: 3px solid $highlight_color;
        }
    }
    &--submit {
        margin-top: 25px;
        margin-bottom: 110px;
        justify-content: flex-end;
    }
    textarea {
        resize: vertical;
    }
}

.noscroll {
    overflow: hidden !important;
}

.modal {
    &--container {
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: 10000;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &.hidden {
            display: none;
        }
    }
    width: 360px;
    // margin: 150px auto 0;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 30px $lightgray2;
    position: relative;
    &.hidden {
        display: none;
    }
    .close {
        position: absolute;
        right: 15px;
        top: 15px;
        display: block;
        font-size: 30px;
        color: $lightgray2;
        background: none;
        border: none;
        &:hover {
            color: #000;
        }
    }

    &.thank-you {
        padding: 90px 50px 150px;
        font-family: $accent_font_family;
        background-repeat: no-repeat;
        background-size: auto 35px;
        background-image: url('/img/logo.svg');
        background-position: 50% 90%;
        .modal--heading {
            font-size: 24px;
            color: $highlight_color;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        p {
            font-size: 24px;
            line-height: 1.5;
        }
    }
    &.order-call {
        padding: 30px;
        .form {
            &--heading {
                margin-bottom: 20px;
            }
            &--submit {
                margin-bottom: 0;
                justify-content: space-around;
            }
        }
    }
}

@media (max-width: 1200px) {
    .content {
        width: $content_width_narrow;
        .bq {
            &--first,
            &--second {
                text-align: center;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

@media (max-width: 800px) {
    .content {
        width: 750px;
    }
}