.header {
    margin-bottom: 15px;
    &--general {
        justify-content: space-between;
        padding: 70px 0 70px;
    }
    // &--logo-container {
    //     // height: 100%;
    // }
    &--logo {
        // width: 330px;
            height: 65px;
    }
    &--call {
        align-self: flex-end;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: baseline;
    }
    &--cart-search {
        justify-content: space-between;
    }

    .phone {
        font-size: 24px;
        font-weight: bold;
        line-height: 1;
        padding: 0 12px;
        border-right: 3px solid $main_text_color;
    }
    
    .order-call {
        font-size: 16px;
        line-height: 1;
        padding: 0 12px;
        &:hover {
            color: $highlight_color
        }
        &:focus {
            outline: none;
        }
    }
    
    .cart-link {
        display: block;
        font-size: 16px;
        padding-left: 30px;
        background-image: url($cart_icon);
        background-repeat: no-repeat;
        background-position: 0 50%;
        background-size: contain;
        align-self: flex-end;
        margin-bottom: 15px;
    }
    
    .search {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        &--field {
            font-size: 16px;
            padding: 5px;
            &:focus {
                outline: none;
                border: 2px solid $highlight_color;
            }
        }
        &--label {
            display: block;
            height: 33px;
            width: 33px;
            background-color: #000;
            background-image: url($magn_icon);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 20px 20px;
        }
    }
}

.nav {
    padding: 5px 0;
    &--list {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-around;
    }
    &--item {
        font-family: $accent_font_family;
        font-size: 16px;
        text-transform: uppercase;
        padding: 5px 40px;
        &:not(:last-of-type) {
            border-right: 2px solid $main_text_color
        }
        &:hover {
            color: $highlight_color;
        }
    }
}


@media (max-width: 1200px) {
    .header {
        &--general {
            flex-direction: column;
            position: relative;

        }
        &--call {
            position: absolute;
            right: 0;
            top: 75px;
            flex-direction: column;
            align-items: flex-end;
            .phone {
                margin-bottom: 10px;
            }
        }
        &--cart-search {
            margin-top: 20px;
        }
    }

    .nav {
        &--item {
            font-size: 12px;
            padding-left: 0;
            padding-right: 0;
            // padding-left: 25px;
            // padding-right: 35px;
            white-space: nowrap;
            &:not(:last-of-type) {
                border-right: none;
            }
        }
    }

    .search {
        &--field {
            width: 100%;
        }
    }
}