.intro {
    height: 440px;
    padding: 30px;
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: flex-end;
    &--text {
        font-size: 30px;
        text-transform: uppercase;
        font-family: $accent_font_family;
    }
}

.about {
    flex: 1;  
    &--text {
        background-color: $about_bg_color;
        flex: 1;
        p {
            margin-bottom: 20px;
        }
    }
}

.news {
    width: 25%;
    &--article {
        position: relative;
        &:first-of-type {
            margin-bottom: 40px;
        }
    }
    &--text {
        background-color: $news_bg_color;
        color: $news_color;
        flex: 1;
    }
    &--date {
        position: absolute;
        bottom: 100%;
        right: 0;
    }
    a {
        text-decoration: underline;
        &:hover {
            text-decoration: none;    
        }
    }
}

.promo {
    .slider-nav {

    }
}

@media (max-width: 1200px) {
    .news {
        width: 33%;
    }
}