.promotion {
    &--wrapper {
        justify-content: flex-end;
    }
    width: 75%;
    &--items {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-wrap: wrap;
        li {
            padding-left: $gutter;
            width: 33.3%;
            margin-bottom: 60px;
        }
    }
}

.promo-item {
    padding-left: $gutter;
    max-width: 75%;
    flex: 1;
    &--wrapper {
        justify-content: flex-end;
    }
    &--content {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
    }
    &--img {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 33.3%;
        height: $item_height;
        padding-left: $gutter;
        img {
            min-height: 100%;
            width: auto;
        }
    }
    &--img-wrapper {
        overflow: hidden;
        height: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &--details {
        flex: 1;
        padding-left: $gutter;
        .content--row__flex {
            justify-content: space-between;
            margin-bottom: 25px;
        }
    }
    &--details-wrapper {
        padding: 25px 10px 25px 15px    ;
    }
    &--heading {
        font-size: 18px;
        text-transform: uppercase;
        width: 60%;
    }
    &--date {
        font-size: 16px;
        color: $highlight_color;
    }
    &--text {
        font-size: 16px;
        p {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 1200px) {
    .promotion--items {
        li {
            width: 50%;
        }
    }
    .promo-item {
        &--content {
            flex-direction: column;
        }
        &--img {
            width: 50%;        
        }
        &--details-wrapper {
            padding-left: 0;
        }
    }
}
