.search-result {
    max-width: 75%;
    flex: 1;
    padding-left: $gutter;
    &--wrapper {
        display: flex;
        justify-content: flex-end;
    }
    &--heading-wrapper {
        justify-content: space-between;
    }
    &--counter {
        align-self: flex-end;
        margin-bottom: 20px;
    }
}