$base_font_size: 12px;
$base_font_family: "HelveticaNeue", Helvetica, Arial, sans-serif;
$accent_font_family: "GothamPro", Helvetica, Arial, sans-serif;
$content_width: 1140px;
$content_width_narrow: 90%;

$green: #0c790c;
$darkgray: #3c3c3c;
$lightgray: #e1e1e1;
$lightgray2: #bfbfbf;
$midgray: #787878;
$red: #eb623e;

$highlight_color: $green;
$main_text_color: $darkgray;
$footer_bg_color: $darkgray;
$about_bg_color: $lightgray;
$news_bg_color: $darkgray;
$dot_bg_color: $lightgray2;
$cat_descr_color: $lightgray;
$order_btn_color: $red;

$cart_icon: '/img/icons/cart.svg';
$magn_icon: '/img/icons/magnifying_glass.svg';
$news_color: #fff;
$cat_item_color: #fff;

$item_width: 278px;
$item_height: 278px;

$slider-nav_height: 38px;
// $slider-nav_width: 30px;

$gutter: 10px;
$sidebar_width: 25%;

