<article class="cart-item content--row__flex" data-id="pile-sc-4-30">
    <div class="content--row__flex cart-item--heading">
        <section class="cart-item--img">
            <img src="/img/catalogue/pile.jpg" alt="">
        </section>
        <h2 class="cart-item--name">
            Свая железобетонная с центральным армированием СЦ 4-30
        </section>
    </div>
    <div class="content--row__flex cart-item--numbers">
        <section class="cart-item--price">
            <span class="cart-item--price-value js-price-value" data-value="1200.17" data-id="pile-sc-4-30">
                1200.17
            </span>&nbsp;р./шт.
        </section>
        <form action="" class="cart-item--order">
            <section class="content--row__flex">
                <button class="btn remove js-counter-control" data-id="pile-sc-4-30">&minus;</button>
                <input class="order-number js-count" type="number" value="1" min="1" data-id="pile-sc-4-30">
                <button class="btn add js-counter-control" data-id="pile-sc-4-30">+</button>
            </section>
        </form>
        <section class="cart-item--total">
            <span class="cart-item--total-value js-price-total" data-value="3800.17" data-id="pile-sc-4-30">3800.17</span>&nbsp;р.
        </section>
        <button class="btn clear">&times;</button>
    </div>
</article>