<form class="form" action="">
    <div class="content--row__flex columns">
        <div class="form--column">
            <fieldset>
                <h2 class="form--heading">Контактная информация</h2>
                <div class="content--row__flex">
                    <input type="radio" name="contact-entity" id="contact-ind">
                    <label class="radio-label" for="contact-ind">Физическое лицо</label>
    
                    <input type="radio" name="contact-entity" id="contact-company">
                    <label class="radio-label" for="contact-company">Юридическое лицо</label>    
                </div>
                <input class="form--field" type="text" name="contact-name" placeholder="Имя *" required>
                <input class="form--field" type="tel" name="contact-tel" placeholder="Телефон *" required>
                <input class="form--field" type="email" name="contact-email" placeholder="E-mail *" required>
                <textarea class="form--field" name="contact-extra" id="" cols="30" rows="10" placeholder="Дополнительная информация"></textarea>        
            </fieldset>
        </div>
        <div class="form--column">
            <fieldset>
                <h2 class="form--heading">Данные доставки</h2>
                <div class="content--row__flex">
                    <input type="radio" name="delivery-entity" id="delivery-ind">
                    <label class="radio-label" for="delivery-ind">Физическое лицо</label>
    
                    <input type="radio" name="delivery-entity" id="delivery-company">
                    <label class="radio-label" for="delivery-company">Юридическое лицо</label>    
                </div>
                <input class="form--field" type="text" name="contact-region" placeholder="Регион / Район *" required>
                <input class="form--field" type="text" name="contact-city" placeholder="Город / Населеный пункт *" required>
                <input class="form--field" type="text" name="contact-address" placeholder="Адрес *" required>
                <textarea class="form--field" name="contact-extra" id="" cols="30" rows="10" placeholder="Дополнительная информация"></textarea>        
            </fieldset>
        </div>
    </div>
    <div class="content--row__flex form--submit">
        <button class="btn cart--order order" type="submit">
            Оформить заказ
        </button>
    </div>
</form>