<h2 class="item--chars-heading">Характеристики</h2>
<table class="item--chars">
    <tr>
        <th>Производитель</th>
        <td>Рязанский ЖБИ №2</td>
    </tr>
    <tr>
        <th>Артикул</th>
        <td>ЖБ4403</td>
    </tr>
    <tr>
        <th>Тип</th>
        <td>С3</td>
    </tr>
    <tr>
        <th>Длина, мм</th>
        <td>5000</td>
    </tr>
    <tr>
        <th>Высота, мм</th>
        <td>300</td>
    </tr>
</table>