<aside class="sidebar">
    <ul class="categories-list">
        <li>
            <a href="">Блоки фундаментные ФБС</a>
        </li>
        <li>
            <a class="active" href="">Сваи фундаментные</a>
        </li>
        <li>
            <a href="">Плиты дорожные, аэродромные</a>
        </li>
        <li>
            <a href="">Железобетонные опоры освещения</a>
        </li>
    </ul>
</aside>
