<article class="catalogue-item-preview" style="background-image: url('/img/catalogue/fbs-concrete-blocks.jpg')">
    <a href="/catalogue/subcatalogue" class="link-wrapper catalogue-item-preview--wrapper">
        <h3 class="catalogue-item-preview--heading">Блоки фундаментные&nbsp;ФБС</h3>
    </a>
</article>
