<footer class="footer">
    <div class="content content--row__flex">
        <section class="contacts">
            <address class="address">
                142000, Московская область, г. Домодедово,<br>владение «Завод железобетонных изделий», ул.&nbsp;Промышленная, д.&nbsp;9, офис 19
            </address>
            <ul>
                <li class="footer--phone">
                    Телефон:
                    <a href="tel:+79164744613">+7 916 474-46-13</a>
                </li>
                <li>
                    E-mail:
                    <a href="mailto:dmu3@inbox.ru">dmu3@inbox.ru</a>
                </li>
            </ul>
        </section>

        <section class="copyright">
            <p>© 2023 ООО «ДОМОДЕДОВСКОЕ МУ-3»</p>
            <p>Все права защищены.</p>
        </section>
    </div>
</footer>

<div class="modal--container hidden js-modal-container">
    <article class="modal thank-you hidden" data-id="thankyou">
        <h2 class="modal--heading">Спасибо!</h2>
        <p>за то что отправили вашу заявку, наш специалист свяжется с вами в ближайшее время.</p>
        <button class="close js-close-modal" data-id="thankyou">×</button>
    </article>

    <article class="modal order-call hidden" data-id="call">
        <form class="form feedback" action="">
            <h2 class="form--heading">Заказать звонок</h2>
            <input class="form--field" type="text" name="call-name" placeholder="Имя *" required>
            <input class="form--field" type="tel" name="call-tel" placeholder="Телефон *" required>
            <input class="form--field" type="email" name="call-email" placeholder="E-mail *" required>
            <textarea class="form--field" name="call-extra" id="" cols="30" rows="10" placeholder="Дополнительная информация"></textarea>        
            <div class="content--row__flex form--submit">
                <button class="btn submit" type="submit">
                    Заказать звонок
                </button>
            </div>
            <button class="close js-close-modal" data-id="call">×</button>
        </form>
    </article>
</div>

</body>
</html>
