<header class="header" id="header">
    <div class="content">
        <div class="content--row__flex header--general">
            <section class="header--logo-container">
                <a class="link-wrapper" href="/#header">
                    <img class="header--logo" src="/img/logo.svg" alt="">
                </a>
            </section>
            <section class="header--call">
                <a class="phone" href="tel:+79164744613">+7 916 474-46-13</a>
                <button class="order-call js-order-call">Заказать звонок</button>
            </section>
            <section class="content--column header--cart-search">
                <!-- <section> -->
                    <a href="/cart" class="cart-link link-wrapper">
                        <span>Корзина:</span>
                        <span class="cart--items">0</span>
                    </a>
                <!-- </section> -->
                <form class="search" action="">
                    <label for="search--field" class="search--label"></label>
                    <input class="search--field" id="search--field" type="text" placeholder="Поиск">
                </form>
            </section>
        </div>

        <nav class="nav">
            <ul class="nav--list">
                <li class="nav--item">
                    <a href="/">Главная</a>
                </li>
                <li class="nav--item">
                    <a href="/catalogue">Каталог</a>
                </li>
                <li class="nav--item">
                    <a href="/promo">Акции</a>
                </li>
                <li class="nav--item">
                    <a href="">Аренда спецтехники</a>
                </li>
                <li class="nav--item">
                    <a href="">Доставка</a>
                </li>
                <li class="nav--item">
                    <a href="/contacts">Контакты</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
