<article class="promo-item-preview">
    <a href="/promo/item" class="link-wrapper">
        <section class="promo-item-preview--bg" style="background-image: url('/img/promo/discount.jpg'">
            <p class="promo-item-preview--date">
                до 16.10.2017
            </p>
        </section>
        <section class="promo-item-preview--content">
            <h3 class="promo-item-preview--heading">
                Оптовые цены для всех при заказе от&nbsp;100&nbsp;000&nbsp;рублей!
            </h3>
            <p class="promo-item-preview--text">
                Получите скидки и&nbsp;спец. условия на&nbsp;продукцию YTONG, а&nbsp;также воспользуйтесь...
            </p>
        </section>
    </a>
</article>
